pandas==2.1.*
sqlalchemy==2.0.*
alembic==1.12.*
pytest==7.4.*
boto3==1.28.*
psycopg2-binary==2.9.*
requests==2.31.*
pydantic==2.5.*
pydantic_settings==2.1.*
matplotlib==3.9.*
scipy==1.13.*
structlog==24.4.*
streamlit==1.38.*
awslambdaric
